.contain_head {
    padding: 0px 10%;
}
.navbar>.ctfluid {
    flex-wrap: nowrap;
}
.imgheader {
    width: $imgHeaderWidth;
    max-width: 200px;      
}
.nav-link {
    font-size: $fontHeader;
    font-weight: bold;
    color: $headerColor;
    white-space: nowrap;
}

// :first :hover Pseudo Classes
// ::after ::before Pseudo Elements

a.nav-link {
    &:hover {        
        &::after { 
            width: 100%;
        }
    }
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background-color: orange;
        transition: all 0.2s ease;
    }
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background-color: orange;
        transition: all 0.2s ease;
    }    
}
  
   
