$imgHeaderWidth: 200px;
$fontHeader: 20px;
$headerColor: #22234F;
$bienTitMarTop: 15px;
$btnBg: #22234F;
$btnColor: white;
$btnPadding: 20px;
$btnMargin_Bottom: 20px;
$btnAdoWidth: 80%;
$infoContMarTop: 40px;
$adoptionMarBot: 60px;
$bgFooter: #EAF0FF;
$footerBgLogo: white;
$bgContFoot: #22234F;
$mainMarBottom: 200px;